<div class="left-nav">
  <div class="one">
    <h3>Equipments</h3>
    <ul>
      <li>
        <a href="{% url 'equipments_list' %}">Equipments list </a>
      </li>
      <li>
        <a href="{% url 'equipments_form' %}">New Equipment </a>
      </li>
    </ul>
  </div>
  <div class="one">
    <h3>Equipment types</h3>
    <ul>
      <li>
        <a href="{% url 'equipment_types_list' %}">Equipments types</a>
      </li>
      <li>
        <a href="{% url 'equipment_types_form' %}">New Equipment type</a>
      </li>
    </ul>
  </div>
</div>

<style>
  body {
    background: #e4e4e4;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  nav h1 {
    /* flex: 1; */
    width: 300px;
  }
  nav .logo {
    text-decoration: none;
    color: #00177e;
    font-weight: bolder;
  }
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .left-nav {
    width: 300px;
  }
  .left-nav .one h3 {
    color: #00d150;
  }
  .left-nav .one ul {
    list-style: none;
  }

  .left-nav .one ul li {
    margin-bottom: 5px;
  }

  .left-nav .one ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
</style>
